* {
    box-sizing: border-box;
  }
  
  .wrapper > div {
    border-radius: 5px;
    padding: 1em;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px;
  }
  