<h1>Triebfahrzeugeinheit Beispieloberfläche 2</h1>

<div class="wrapper">
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Tabelle
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-label>Suche: </mat-label>
                <mat-form-field>
                    <mat-label>Suchbegriff:</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-icon>search</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Filter
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-action-list>
                    <button mat-list-item>Alle</button>
                    <button mat-list-item>Entwurf</button>
                    <button mat-list-item>Freigegeben</button>
                    <button mat-list-item>Aktiv</button>
                    <button mat-list-item>Stillgelegt</button>
                </mat-action-list>
            </mat-card-content>
        </mat-card>        
    </div>
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Aktion
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-action-list>
                    <button mat-list-item>Bearbeiten</button>
                    <button mat-list-item>Neu anlegen</button>
                    <button mat-list-item>Freigeben</button>
                </mat-action-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>

