/* You can add global styles to this file, and also import other style files */


* {
    box-sizing: border-box;
}

.wrapper > div {
    border-radius: 5px;
    padding: 1em;
}

html, body { height: 100%; }

body { margin: 25; font-family: Roboto, "Helvetica Neue", sans-serif; }
