<h1>Coding Dojo Tableau</h1>

<ul>
    <li>
        <span>Sharing Code Snippets via GitHub Gist <a href="https://gist.github.com/">Sharing code snippets over the internet.</a></span>
    </li>
    <li>
        <span>Share Projects via GitHub<a href="https://github.com/">Sharing projects over the internet.</a></span>
    </li>
    <li>
        <span>Denzel Washington <a href="https://youtu.be/tbnzAVRZ9Xc"> Fall Forward</a></span>
    </li>
    <li>
        <span>Coach Pain <a href="https://youtu.be/WX98XpcWxGU"> Refuse to Loose</a></span>
    </li>
    <li>
        <span>Funny Start <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content">Setting flex item distribution</a></span>
    </li>
    <li>
        <span>HTML basics <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics"> Structuring the web </a></span>
    </li>
    <li>
        <span>HTML Tutorial <a href="https://www.mediaevent.de/html/"> auf Deutsch</a></span>
    </li>
    <li>
        <span>CSS basics <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics"> Styling the web </a></span>
    </li>
    <li>
        <span>CSS Tutorial <a href="https://www.mediaevent.de/css/">  auf Deutsch</a></span>
    </li>
    <li>
        <span>JavaScript basics <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/JavaScript_basics"> Dynamic client-side scripting </a></span>
    </li>
    <li>
        <span>JavaScript Tutorial Basics<a href="https://www.mediaevent.de/javascript/">  auf Deutsch</a></span>
    </li>
    <li>
        <span>JavaScript Tutorial <a href="https://www.mediaevent.de/javascript/DOM.html"> für Webseiten auf Deutsch</a></span>
    </li>
    <li>
        <span>CSS-Layout: <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Introduction">Introduction to CSS layout</a></span>
    </li>
    <li>
        <span>CSS-Layout Examples: <a href="layouting">Overview</a></span>
    </li>
    <li>
        <span>Flexbox: <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">A Complete Guide to Flexbox</a></span>
    </li>
    <li>
        <span>The flex model <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox#the_flex_model">Mozilla Flexbox</a></span>
    </li>
    <li>
        <span>Grid-Layout <a href="https://css-tricks.com/snippets/css/complete-guide-grid/">A Complete Guide to CSS Grid</a></span>
    </li>
    <li>
        <span>HTML Park <a href="example-ride">Example Ride</a></span>
    </li>
    <li>
        <span>Angular <a href="https://angular.io/" >Angular's Home</a></span>
    </li>
    <li>
        <span>Angular Material <a href="https://material.angular.io/" >Angular Material's Home</a> </span>
    </li>
    <li>
        <span>Grafik Aufgabe: <a href="rudis-diagramm">Rudis Diagramm</a></span>
    </li>
    <li>
        <span>Grid Solution: <a href="display-body">Triebfahrzeugeinheit Beispieloberfläche 1</a></span>
    </li>
    <li>
        <span>Grid Solution: <a href="display-css-grit-mat-card">Triebfahrzeugeinheit Beispieloberfläche 2</a></span>
    </li>
    <li>
        <span>Angular Icons: <a href="https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/">Angular Icons Overview</a></span>
    </li>
</ul>
